In [305]:
import pandas as pd
import numpy as np
import random

In [306]:
pd.set_option('display.max_columns', 500)
df_test = pd.read_csv('pisa2009test.csv')
df_train = pd.read_csv('pisa2009train.csv')

### Exploration

In [307]:
df_train.describe()

,grade,male,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,fatherWork,selfBornUS,motherBornUS,fatherBornUS,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
count,3663.000000,3663.000000,3607.000000,3601.000000,3566.000000,3266.000000,3570.000000,3418.000000,3094.000000,3430.000000,3594.000000,3592.000000,3550.000000,3592.000000,3598.000000,3629.000000,3477.000000,3414.000000,3520.000000,3663.000000,3663.000000,3501.000000,3663.000000
mean,10.089817,0.511057,0.722761,0.785893,0.879978,0.348132,0.734454,0.859274,0.331933,0.853061,0.931274,0.772550,0.766761,0.871659,0.899389,0.289887,266.208225,24.499414,0.967614,0.933934,0.384930,1369.316767,497.911403
std,0.554375,0.499946,0.447697,0.410259,0.325033,0.476451,0.441685,0.347789,0.470983,0.354096,0.253022,0.419244,0.422953,0.334515,0.300855,0.453772,148.403525,7.184348,0.177049,0.248431,0.486645,869.983618,95.515153
min,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,100.000000,168.550000
25%,10.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,225.000000,20.000000,1.000000,1.000000,0.000000,712.000000,431.705000
50%,10.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,250.000000,25.000000,1.000000,1.000000,0.000000,1212.000000,499.660000
75%,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,300.000000,30.000000,1.000000,1.000000,1.000000,1900.000000,566.230000
max,12.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2400.000000,75.000000,1.000000,1.000000,1.000000,6694.000000,746.000000

In [308]:
print("test dimension" + str(df_test.shape))
print("train dimension" + str(df_train.shape))

test dimension(1570, 24)
train dimension(3663, 24)

In [309]:
df_train.head()

,grade,male,raceeth,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,fatherWork,selfBornUS,motherBornUS,fatherBornUS,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
0,11,1,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,1.0,1.0,0.0,0.0,0.0,1.0,0.0,225.0,NaN,1.0,1,1,673.0,476.00
1,11,1,White,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,450.0,25.0,1.0,1,0,1173.0,575.01
2,9,1,White,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,0.0,250.0,28.0,1.0,1,0,1233.0,554.81
3,10,0,Black,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,200.0,23.0,1.0,1,1,2640.0,458.11
4,10,1,Hispanic,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,250.0,35.0,1.0,1,1,1095.0,613.89

In [310]:
df_test.head()

,grade,male,raceeth,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,fatherWork,selfBornUS,motherBornUS,fatherBornUS,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
0,10,0,White,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,240.0,30.0,1.0,1,0,808.0,355.24
1,10,1,White,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,255.0,NaN,1.0,1,0,808.0,385.57
2,10,0,White,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,NaN,30.0,1.0,1,0,808.0,522.62
3,10,0,White,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,160.0,30.0,NaN,1,0,808.0,406.24
4,10,0,White,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,240.0,30.0,1.0,1,0,808.0,453.50

In [311]:
df_test.dtypes

grade                      int64
male                       int64
raceeth                   object
preschool                float64
expectBachelors          float64
motherHS                 float64
motherBachelors          float64
motherWork               float64
fatherHS                 float64
fatherBachelors          float64
fatherWork               float64
selfBornUS               float64
motherBornUS             float64
fatherBornUS             float64
englishAtHome            float64
computerForSchoolwork    float64
read30MinsADay           float64
minutesPerWeekEnglish    float64
studentsInEnglish        float64
schoolHasLibrary         float64
publicSchool               int64
urban                      int64
schoolSize               float64
readingScore             float64
dtype: object

In [312]:
num_missing_data = df_train.isnull().sum().tolist()
col_name = df_train.columns.tolist()

In [313]:
tuples = list(zip(col_name, num_missing_data))
missing_data = pd.DataFrame(tuples, columns=['col_name', 'num_missing_data'])

In [314]:
df_test.isnull().sum()

grade                      0
male                       0
raceeth                   13
preschool                 21
expectBachelors           23
motherHS                  45
motherBachelors          188
motherWork                36
fatherHS                 125
fatherBachelors          288
fatherWork               113
selfBornUS                24
motherBornUS              23
fatherBornUS              58
englishAtHome             27
computerForSchoolwork     30
read30MinsADay            21
minutesPerWeekEnglish    103
studentsInEnglish        114
schoolHasLibrary          58
publicSchool               0
urban                      0
schoolSize                69
readingScore               0
dtype: int64

In [342]:
df_train.isnull().sum()

grade                      0
male                       0
raceeth                   35
preschool                 56
expectBachelors           62
motherHS                  97
motherBachelors          397
motherWork                93
fatherHS                 245
fatherBachelors          569
fatherWork               233
selfBornUS                69
motherBornUS              71
fatherBornUS             113
englishAtHome             71
computerForSchoolwork     65
read30MinsADay            34
minutesPerWeekEnglish    186
studentsInEnglish        249
schoolHasLibrary         143
publicSchool               0
urban                      0
schoolSize               162
readingScore               0
dtype: int64

### cleaning

In [334]:
class data_cleaning():
    
    def __init__(self, df):
        self.df = df
        
    #find percentage of missing data within a column    
    def percentage_missing(self):
        #get col name and num of missing data into list
        self.num_missing_data = self.df.isnull().sum().tolist()
        self.col_names = self.df.columns.tolist()
        
        #turn it into dataframe
        tuples = list(zip(self.col_names, self.num_missing_data))
        missing_data = pd.DataFrame(tuples, columns=['col_name', 'num_missing_data'])
        
        #get number of rows
        dim = self.df.shape
        row_num = dim[0]
        
        #do calculations
        missing_data['percentage_missing'] = (missing_data['num_missing_data']/row_num)*100
        return missing_data
    
    #get missing column name
    def get_missing_col_name(self):
        missing_col_list = self.df.columns[self.df.isnull().any()].tolist()
        return missing_col_list
    
    #replace missing bolean variables by chance calculated by percentage of 1.0s and 0.0s
    def remove_na(self):
        target_df = self.df
        missing_col_list = self.df.columns[self.df.isnull().any()].tolist()
        
        for i, row in target_df.iterrows():
            for j in missing_col_list:
                if (j != 'raceeth' and j != 'schoolSize' and j != 'studentsInEnglish' and j !='minutesPerWeekEnglish'):
                    #get number of values presented of each observation and find percentage of each
                    num_missing_obs = target_df[j].value_counts().sort_index()
                    chance_for_0s = (num_missing_obs[0]/(num_missing_obs[1]+num_missing_obs[0]))*100
                
                    #random assign 1s and 0s for missing data by calculated chance
                    if (random.randint(0,100) < chance_for_0s): 
                        if(str(row[j]) == 'nan'):
                            target_df.at[i,j] = 0.0
                    else:
                        target_df.at[i,j] = 1.0
                        
                elif(j != 'raceeth'):
                    
                    #replace non-bolean val with mean value
                    mean_val = target_df[j].mean()
                    target_df.at[i,j] = mean_val
        
        #drop missing race rows 
        target_df.dropna(subset = ["raceeth"], inplace=True)
                    
        
        return target_df

In [335]:
obj = data_cleaning(df_test)
obj.percentage_missing()

                 col_name  num_missing_data  percentage_missing
0                   grade                 0                 0.0
1                    male                 0                 0.0
2                 raceeth                 0                 0.0
3               preschool                 0                 0.0
4         expectBachelors                 0                 0.0
5                motherHS                 0                 0.0
6         motherBachelors                 0                 0.0
7              motherWork                 0                 0.0
8                fatherHS                 0                 0.0
9         fatherBachelors                 0                 0.0
10             fatherWork                 0                 0.0
11             selfBornUS                 0                 0.0
12           motherBornUS                 0                 0.0
13           fatherBornUS                 0                 0.0
14          englishAtHome                 0                 0.0
15  computerForSchoolwork                 0                 0.0
16         read30MinsADay                 0                 0.0
17  minutesPerWeekEnglish                 0                 0.0
18      studentsInEnglish                 0                 0.0
19       schoolHasLibrary                 0                 0.0
20           publicSchool                 0                 0.0
21                  urban                 0                 0.0
22             schoolSize                 0                 0.0
23           readingScore                 0                 0.0

In [ ]:
clean_df_test = obj.remove_na()

In [ ]:
clean_df_test.isnull().sum()

In [ ]:
clean_df_test.shape

In [301]:
obj = data_cleaning(df_train)
obj.percentage_missing()

                 col_name  num_missing_data  percentage_missing
0                   grade                 0            0.000000
1                    male                 0            0.000000
2                 raceeth                35            0.955501
3               preschool                56            1.528802
4         expectBachelors                62            1.692602
5                motherHS                97            2.648103
6         motherBachelors               397           10.838111
7              motherWork                93            2.538903
8                fatherHS               245            6.688507
9         fatherBachelors               569           15.533716
10             fatherWork               233            6.360906
11             selfBornUS                69            1.883702
12           motherBornUS                71            1.938302
13           fatherBornUS               113            3.084903
14          englishAtHome                71            1.938302
15  computerForSchoolwork                65            1.774502
16         read30MinsADay                34            0.928201
17  minutesPerWeekEnglish               186            5.077805
18      studentsInEnglish               249            6.797707
19       schoolHasLibrary               143            3.903904
20           publicSchool                 0            0.000000
21                  urban                 0            0.000000
22             schoolSize               162            4.422604
23           readingScore                 0            0.000000

In [337]:
clean_df_test = obj.remove_na()

In [338]:
clean_df.isnull().sum()

grade                    0
male                     0
raceeth                  0
preschool                0
expectBachelors          0
motherHS                 0
motherBachelors          0
motherWork               0
fatherHS                 0
fatherBachelors          0
fatherWork               0
selfBornUS               0
motherBornUS             0
fatherBornUS             0
englishAtHome            0
computerForSchoolwork    0
read30MinsADay           0
minutesPerWeekEnglish    0
studentsInEnglish        0
schoolHasLibrary         0
publicSchool             0
urban                    0
schoolSize               0
readingScore             0
dtype: int64

#### As shown above it is seen that the majority of varibles have missing data, and thus removing these missing data will remove more than 40% of the original data alternative solutions had to be taken 1. Replace booleans values at random by chance calculated by the percentage of 1s and 0s already presented in the dataset 2. Replace none booleans missing observations by the average of each respective variable 3. Remove all missing values for variable raceeth (since a small percentage of their observations were missing, it is not statistically significant)